main .main-exchange-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .main-tables-container {
  justify-content: center;
  align-items: center;
}

main .main-product-detail .product-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

main .main-plans-container .plans-container--slider {
  justify-content: center;
  align-items: center;
}

main .slick-arrow {
  display: none;
}